html,
body {
  padding: 0;
  margin: 0;
  font-family: NotoSans, "Poppins", sans-serif, system-ui, "Gill Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

:root {
  --font-size-small: 1rem;
  --font-size-middle: 1.333rem;
  --font-size-title: 2.4rem;
  --main-button-font-size: 1.5rem;
  --main-page-padding: 0.2rem 4rem 0 4rem;
  --main-section-width: 940px;
  --main-button-color: #5a25d8;
  --footer-background-color: #3b3b3b;
}
