.container {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main section.popularBrandsSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 165px;
  background-color: rgba(0, 0, 0, 0.02);
}
.main section.popularCategoiesSection {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.main section.LookingForManualSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
.main section.searchSection {
  width: 100%;
}
.main section.detailSection {
  display: flex;
  justify-content: center;
  width: 100%;
}
