.popularCategoiesContainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-left: 20px;
}

.titleBox {
  display: flex;
}

.title {
  font-size: var(--font-size-title);
  font-weight: 700;
}

.categoryListInner {
  display: flex;
  justify-content: center;
}

.categoryListInner ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 65px 20px;
}
.categoryListInner ul li div {
  text-align: center;
  height: 91px;
}
.categoryListInner ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 190px;
  font-size: var(--font-size-small);
  font-weight: 700;
}

.categoyIcon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1406px) {
  .categoryListInner ul li {
    width: 170px;
  }
}
@media screen and (max-width: 1266px) {
  .categoryListInner ul li {
    width: 150px;
  }
}
@media screen and (max-width: 1126px) {
  .categoryListInner ul li {
    width: 131px;
    font-size: 12px;
  }
  .categoyIcon {
    width: 60px;
    height: 60px;
  }
}
