.popularBrandsContainer {
  display: flex;
  width: 1400px;
  margin-left: 20px;
  justify-content: space-between;
  padding: 60px 0;
}

.titleBox {
  width: 22%;
  margin-top: 20px;
}

/* .viewMore div {
  font-size: var(--font-size-title);
  font-weight: 700;
} */
.title {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-title);
  font-weight: 700;
  margin-bottom: 15px;
}

.brandListBox {
  width: 78.5%;
  background-color: white;
  padding: 42px 40px;
}

.brandList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brandListBox ul li {
  width: 20%;
  font-size: var(--font-size-small);
  font-weight: 700;
  padding-bottom: 20px;
}

@media screen and (max-width: 1450px) {
  .popularBrandsContainer {
    flex-direction: column;
  }
}
