.popularBrandsContainer {
  display: flex;
  width: 1400px;
  margin-left: 20px;
  justify-content: space-between;
  padding: 60px 0;
}

.titleBox {
  width: 22%;
  margin-top: 20px;
}

/* .viewMore div {
  font-size: var(--font-size-title);
  font-weight: 700;
} */
.title {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-title);
  font-weight: 700;
  margin-bottom: 15px;
}

.viewAll {
  width: 250px;
  cursor: pointer;
}

.brandListBox {
  width: 78.5%;
  background-color: white;
  padding: 45px 40px;
}

.brandList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brandListBox ul li {
  width: 13.5rem;
  font-size: var(--font-size-small);
  font-weight: 700;
  padding-bottom: 20px;
  cursor : pointer
}

/* splite title and box */
@media screen and (max-width: 1450px) {
  .popularBrandsContainer {
    flex-direction: column;
    margin-right: 20px;
  }
  .brandListBox {
    align-self: center;
  }
  .titleBox {
    padding-bottom: 30px;
  }
  .title {
    flex-direction: row;
  }
  .title span:last-child {
    padding-left: 10px;
  }
}

@media screen and (max-width: 900px) {
  .brandListBox {
    width: 100%;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .brandListBox ul li {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 520px) {
  .brandListBox ul li {
    width: 10rem;
  }
}

/* split title*/
@media screen and (max-width: 400px) {
  .title {
    flex-direction: column;
  }
  .title span:last-child {
    padding-left: 0;
  }
}
