.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: var(--main-page-padding);
}

.titleInner {
  display: flex;
}

.categoies,
.brands,
.language {
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: 700;
  height: 65px;
  line-height: 80px;
}
.categoies {
  padding-left: 4.5rem;
}
.brands {
  padding-left: 2.5rem;
}

/* category brand icon으로 변경하기 */
@media screen and (max-width: 950px) {
  .language span:first-child {
    display: none;
  }
  .headerContainer {
    padding: 0;
  }
  .categoies {
    padding-left: 0.5rem;
  }
  .brands {
    padding-left: 0.5rem;
  }
}
